/*------------------------------------------------------------------
[Table of contents]
GENERAL
* Reset
* Helper
* Header
* Breadcrumb
* Instagram
* Footer

HOME PAGE
* Carousel
* Benefits
* Categories
* About section
* New Arrivals Section
* Custom Flower Section
* Latest Posts Section
* Testimonial

ABOUT PAGE
* Services Section
* Our Team Section

SERVICES PAGE
* Services Sidebar Tab
* Services Tab Content
* Services Form

CONTACT PAGE
* Contact Section

PRODUCTS PAGE
* Products Section

SHOPPING CART PAGE
* Shopping Cart Section
-------------------------------------------------------------------*/

/* --- GENERAL --- */
/* --- Reset --- */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 650;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* --- Helper --- */
.btn-florist {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #f45d96;
  padding: 14px 30px 12px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);

  &:hover {
    box-shadow: inset 5px 5px 10px 0 rgb(0 0 0 / 50%);
  }

  &.btn-outline-florist {
    background: transparent;
    color: #111111;
    border: 2px solid #f45d96;
  }
}

.section-title {
  margin-bottom: 45px;
}

.section-title span {
  color: #f45d96;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 8px;
}

.section-title h2 {
  font-size: 42px;
  color: #111111;
  line-height: 1.4;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* --- Header --- */
.navbar {
  background: #ffffff;

  .dropdown {
    @media all and (min-width: 992px) {
      .dropdown-menu {
        display: none;
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }

  .navbar-brand {
    @media (min-width: 400px) {
      display: flex !important;
    }

    >img {
      width: 116px;

      @media (min-width: 992px) {
        width: 155px;
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-icons {
      order: 3;
    }

  }

  .navbar-collapse {
    .nav-item {
      &.nav-item--logo {
        img {
          width: 116px;
        }

        @media (min-width: 400px) {
          display: none !important;
        }
      }

      >.nav-link {
        padding-top: 8px;
        padding-bottom: 0;
      }
    }

  }

  .container {
    .nav-link {
      font-family: "Oswald",
        sans-serif;
      font-size: 14px;

      @media (min-width: 992px) {
        font-size: 16px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      font-weight: 500;
      color: #111111;
      transition: all,
      0.3s;
    }

    .nav-link,
    .dropdown-item {

      &.router-link-exact-active,
      &:hover {
        color: #f45d96;
      }
    }

    .nav-link.dropdown-toggle.router-link-active {
      color: #f45d96;
    }

    .sign-in-icon {
      &>svg {
        color: #3d8bfd;
        border: 1px solid #3d8bfd;
      }

      &::after {
        color: #3d8bfd;
      }
    }

    .sign-out-icon {
      &>svg {
        color: #6c757d;
        border: 1px solid #6c757d;
      }

      &::after {
        color: #6c757d;

      }
    }

    .sign-in-icon,
    .sign-out-icon {
      &:hover {
        &>svg {
          color: #f45d96;
          border: 1px solid #f45d96;
        }

        &::after {
          color: #f45d96;
        }
      }
    }
  }
}

/* --- Breadcrumb --- */
.breadcrumb {
  background-image: url('~@/assets/img/breadcrumb/breadcrumb-bg.jpg');
  padding: 52px 0 60px;
  margin-top: 48px;
}

.breadcrumb__text h2 {
  font-size: 50px;
  font-weight: 400;
  color: #111111;
}

.breadcrumb__links {
  a {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #f45d96;
    margin-right: 28px;
    position: relative;

    &:after {
      position: absolute;
      right: -18px;
      top: -1px;
      content: "|";
      color: #aeaeae;
    }
  }

  span {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
  }
}

/* --- Instagram --- */
.instagram {
  padding-top: 10px;
}

.instagram__post {
  margin-left: -2px;
  margin-right: -2px;
}

.instagram__post__item {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;

  width: calc(100% - 10px);
  height: 372px;

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    width: calc(50% - 10px);
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: calc(33.33% - 10px);
  }

  @media only screen and (min-width: 992px) {
    width: calc(20% - 10px);
    height: 265px;
  }


  &:hover .instagram__post__item__hover {
    transform: scale(1);
  }
}

.instagram__post__item__hover {
  background: #ffffff;
  padding: 20px 75px 16px;
  text-align: center;
  transition: all, 0.5s;
  transform: scale(0);

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding: 20px 25px 16px;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1449px) {
    padding: 20px 30px 16px;
  }

  svg {
    font-size: 30px;
    color: #f45d96;
  }

  h6 {
    color: #111111;
    margin-top: 8px;

    a {
      color: #f45d96;
    }
  }
}

/* --- Footer --- */
.footer {
  padding-top: 30px;

  a {
    text-decoration: none;

    &.router-link-exact-active,
    &:hover {
      color: #f45d96;
    }
  }

  .footer__widget--info,
  .footer__widget--guide {
    li>a {
      display: inline-block;
      position: relative;
      padding-left: 15px;

      &:before {
        content: "\2713";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.footer__logo a>img {
  width: 116px;

  @media (min-width: 992px) {
    width: 155px;
  }
}

.footer__top {
  padding-bottom: 35px;
}

.footer__top__social a {
  color: #111111;
  font-size: 18px;
  margin-right: 20px;
}

.footer__top__social a:last-child {
  margin-right: 0;
}

.footer__options {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.footer__widget {
  padding: 50px 0 45px;
}

.footer__widget.footer__widget--address {
  padding-left: 60px;
}

.footer__widget h4 {
  color: #111111;
  margin-bottom: 18px;
}

.footer__widget ul li {
  list-style: none;
  line-height: 36px;
  color: #444444;
  font-size: 15px;
}

.footer__widget ul li a {
  font-size: 15px;
  color: #444444;
}

.footer__newslatter {
  padding: 50px 65px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.footer__newslatter h4 {
  color: #111111;
  margin-bottom: 18px;
}

.footer__newslatter form {
  position: relative;
}

.footer__newslatter form input {
  font-size: 15px;
  color: #888888;
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #111111;
}

.footer__newslatter form input::placeholder {
  color: #888888;
}

.footer__newslatter form button {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;

  &:hover {
    color: #f45d96;
  }
}

.footer__copyright {
  padding: 22px 0 22px;
}

.footer__copyright p {
  color: #111111;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__top__text {
    margin-bottom: 30px;
  }

  .footer__newslatter {
    padding: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
  }

  .footer__widget {
    padding: 0;
    margin-bottom: 30px;
  }

  .footer__widget.footer__widget--address {
    padding-left: 0;
  }

  .footer__options {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer__newslatter {
    padding: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
  }

  .footer__widget {
    padding: 0;
    margin-bottom: 30px;
  }

  .footer__widget.footer__widget--address {
    padding-left: 0;
  }

  .footer__options {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer__newslatter {
    padding: 54px 25px;
  }

  .footer__widget.footer__widget--address {
    padding-left: 20px;
  }
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #f45d96;

  &:hover {
    background-color: #555;
  }
}

/* --- HOME PAGE --- */
/* --- Carousel --- */
#myCarousel {
  margin-top: 48px;
}

.carousel-item {
  height: 550px;
  // display: flex;
  align-items: center;

  .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 550px;
  }

  .img-carousel-1 {
    background-image: url('~@/assets/img/carousel/carousel-1.jpg');
  }

  .img-carousel-2 {
    background-image: url('~@/assets/img/carousel/carousel-2.jpg');
  }

  .carousel-caption {
    right: 0;
    left: 0;
  }

  .carousel__text {
    span {
      font-size: 16px;
      color: #111111;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 12px;
      position: relative;
      top: 100px;
      transition: all, 0.4s;
      opacity: 0;
    }

    h2 {
      color: #111111;
      font-size: 43px;
      line-height: 60px;
      margin-bottom: 28px;
      position: relative;
      top: 200px;
      transition: all, 0.8s;
      opacity: 0;
    }

    .btn-florist {
      position: relative;
      top: 400px;
      transition: all, 1.2s;
      opacity: 0;
    }
  }

  &.active .carousel__text {

    span,
    h2,
    .btn-florist {
      top: 0;
      opacity: 1;
    }
  }
}

/* --- Benefits --- */
.benefits {
  padding-top: 60px;
  padding-bottom: 30px;
}

.benefits__item {
  margin-bottom: 30px;
  overflow: hidden;
  padding-left: 30px;

  @media (min-width: 576px) {
    padding-left: 0;
  }
}

.benefits__item__icon {
  float: left;
  margin-right: 20px;
}

.benefits__item__text {
  overflow: hidden;
}

.benefits__item__text h4 {
  color: #111111;
  margin-bottom: 10px;

  &:hover {
    color: #f45d96;
  }
}

.benefits__item__text p {
  margin-bottom: 0;
}

/* --- Categories --- */
.categories__item {
  height: 440px;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px #555;
    transform: translateY(-10px);

    a {
      color: #f45d96;
    }
  }
}

.categories__item__text {
  background: #ffffff;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: calc(100% - 30px);
}

.categories__item__text h4 a {
  color: #111111;

  &:hover {
    font-style: italic;
  }
}

.categories__item__text span {
  font-size: 14px;
  color: #444444;
  display: block;
}

/* --- About section --- */
.about {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about__top__text {
  margin-bottom: 45px;

  p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.about__video {
  height: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  a {
    color: #f45d96;
    border-radius: 50%;

    &:hover {
      color: #ffffff;
      border: 2px solid #f45d96;
    }
  }
}

.about__text {
  background: #ffffff;
  // box-shadow: 0px 10px 21px rgba(99, 134, 137, 0.16);
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
  padding: 100px 90px 105px 70px;
  margin-left: -95px;
  margin-top: -70px;
  margin-bottom: 30px;

  span {
    color: #f45d96;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }

  h2 {
    color: #111111;
    font-size: 38px;
    line-height: 1.4;
    margin-bottom: 26px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding: 50px 90px 50px 70px;
    margin-left: 0;
    margin-top: 0;
  }

  @media only screen and (max-width: 767px) {
    padding: 50px 70px 50px 70px;
    margin-left: 0;
    margin-top: 0;
  }

  @media only screen and (max-width: 479px) {
    padding: 30px 30px 50px 30px;
  }
}

/* --- New Arrivals Section --- */
.arrival {
  padding-top: 0;

  .section-title {
    margin-bottom: 20px;
  }
}

.filter__controls {
  margin-bottom: 40px;

  li {
    font-size: 16px;
    color: #111111;
    display: inline-block;
    list-style: none;
    padding: 3px 10px 2px;
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid transparent;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border: 2px solid #f45d96;
    }
  }
}

.d-col {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 50%;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    max-width: 33.33%;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1449px) {
    max-width: 25%;
  }

  @media only screen and (min-width: 1500px) {
    max-width: 20%;
  }
}

.product__item {
  overflow: hidden;
  margin-bottom: 35px;

  &:hover {
    .product__item__pic .product__item__hover {
      bottom: 30px;
    }

    .product__item__text {
      .price {
        left: -500px;
        opacity: 0;
      }

      .cart-btn {
        bottom: 2px;
        opacity: 1;
      }
    }
  }
}

.product__item__pic {
  background-position: center center;
  position: relative;
  overflow: hidden;
  height: 344px;

  .label {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background: #111111;
    display: inline-block;
    padding: 2px 8px 1px;
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .product__item__hover {
    position: absolute;
    left: 0;
    bottom: -300px;
    width: 100%;
    text-align: center;
    transition: all, 0.5s;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover button:not(.disabled) {
        background: #f45d96;

        span {
          color: #ffffff;
          transform: rotate(360deg);
        }
      }

      button {
        display: block;
        height: 40px;
        width: 40px;
        background: #ffffff;
        font-size: 18px;
        color: #111111;
        line-height: 40px;
        text-align: center;
        border-style: none;
        border-radius: 50%;
        transition: all, 0.5s;
        box-shadow: 0px 5px 10px #333;

        &.disabled {
          background: #6c757d;
          cursor: not-allowed;
        }

        span {
          position: relative;
          transform: rotate(0);
          transition: all, 0.3s;
          display: inline-block;
        }
      }
    }
  }
}

.product__item__text {
  text-align: center;
  padding-top: 24px;
  position: relative;

  button {
    border-style: none;
    background-color: transparent;

    &.product__name {
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 12px;
      margin-bottom: 8px;
      color: #111111;
      font-family: "Libre Baskerville", serif;
      font-size: 18px;

      &:hover {
        background-color: #f45d96;
        color: #ffffff;
      }
    }

    &.cart-btn {
      font-size: 14px;
      color: #f45d96;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -50px;
      opacity: 0;
      transition: all, 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .price {
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 0;
    transition: all, 0.6s;

    span {
      font-size: 14px;
      font-weight: 400;
      color: #701212;
      text-decoration: line-through;

    }
  }
}

/* --- Custom Flower Section --- */
.custom-flower {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('~@/assets/img/custom-flower/floom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

  .custom-flower__text {
    max-width: 500px;

    span {
      font-size: 16px;
      color: #111111;
      font-weight: 700;
      letter-spacing: 4px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 20px;
    }

    h2 {
      color: #ffffff;
      line-height: 1.4;
      margin-bottom: 42px;
      font-family: "WindSong";
      font-size: 40px;

      @media (min-width: 418px) {
        font-size: 60px;
      }
    }

    .btn-florist {
      margin-right: 16px;
    }

    .btn-outline-florist {
      background-color: #ffffff;
      margin-top: 30px;

      @media (min-width: 418px) {
        margin-top: 0;
      }
    }
  }
}

/* --- Latest Posts Section --- */
.latest-post {
  padding-top: 100px;
  padding-bottom: 50px;
}

.latest__btn {
  margin-bottom: 45px;
  text-align: left;

  @media (min-width: 768px) {
    text-align: right;
  }
}

.blog__item {
  // box-shadow: 0px 10px 21px rgba(99, 133, 136, 0.16);
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
  margin-bottom: 50px;
  transition: all 0.3s ease;
}

.blog__item:hover {
  // transform: translateY(-10px);
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0 #f45d96;

  .blog__item__text .label span {
    background: #f45d96;
  }

  .blog__item__text h4 a {
    // color:#f45d96;
    font-style: italic;
  }
}

.blog__item__pic img {
  height: 100%;
  min-width: 100%;
}

.blog__item__text {
  position: relative;
  padding: 38px 35px 30px;
}

.blog__item__text .label {
  position: absolute;
  left: 0;
  top: -13px;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.blog__item__text .label span {
  color: #ffffff;
  background: #111111;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 10px 2px;
  display: inline-block;
  transition: all, 0.3s;
}

.blog__item__text h4 {
  margin-bottom: 12px;
}

.blog__item__text h4 a {
  color: #111111;
  line-height: 31px;
}

.blog__item__text p {
  margin-bottom: 10px;
  text-align: justify;
}

.blog__item__text .text-end {
  font-size: 14px;
  color: #888888;
  font-weight: 500;

  svg {
    display: inline-block;
    vertical-align: text-bottom;
    color: #f45d96;
    margin-right: 3px;

    &+svg {
      margin-left: 15px;
    }
  }
}

/* --- Testimonial --- */
.testimonial {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #f7f5fa;
  padding-bottom: 50px;
  padding-top: 50px;

  &:before {
    position: absolute;
    left: -440px;
    top: 0;
    height: 842px;
    width: 802px;
    background-image: url('~@/assets/img/testimonial/left-bg.png');
    content: "";
    z-index: -1;
  }

  @media (min-width: 992px) {
    &:after {
      position: absolute;
      right: -210px;
      bottom: -48px;
      height: 688px;
      width: 697px;
      background-image: url('~@/assets/img/testimonial/right-bg.png');
      content: "";
      z-index: -1;
    }
  }

  .carousel-item {
    height: 470px;

    @media (min-width: 576px) {
      height: 350px;
    }

    @media (min-width: 768px) {
      height: 280px;
    }

    @media (min-width: 992px) {
      height: 330px;
    }

    @media (min-width: 1400px) {
      height: 280px;
    }
  }

  img {
    display: inline-block;
    width: auto;
  }

  .testimonial__text {
    text-align: center;

    p {
      font-size: 23px;
      font-style: italic;
      line-height: 1.8;
      font-family: "Libre Baskerville", serif;
      margin-top: 38px;
      margin-bottom: 30px;
    }

    h4 {
      color: #111111;
      font-size: 20px;
      margin-bottom: 8px;
    }
  }
}

/* --- ABOUT PAGE --- */
/* --- Services Section --- */
.services {
  padding-bottom: 30px;

  @media only screen and (min-width: 992px) {
    padding-bottom: 70px;
  }

  .section-title {
    margin-bottom: 75px;
  }
}

.services__item {
  text-align: center;
  border: 1px solid #f5deef;
  padding: 60px 10px 35px;
  position: relative;
  margin-bottom: 70px;

  &:hover {
    border-color: #f45d96;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding: 60px 40px 35px;
  }

  @media only screen and (min-width: 1200px) {
    padding: 60px 75px 35px;

  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 30px;
  }

  .services__item__icon {
    position: absolute;
    left: 0;
    top: -35px;
    right: 0;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    background: #ffffff;
  }

  h4 {
    color: #111111;
    margin-bottom: 15px;
  }

  p {
    text-align: justify;
    margin-bottom: 0;
  }
}

/* --- Our Team Section --- */
.team {
  padding-bottom: 60px;
}

.team__btn {
  margin-bottom: 45px;
  text-align: left;

  @media only screen and (min-width: 768px) {
    text-align: right;
  }
}

.team__item {
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
  margin-bottom: 30px;
}

.team__item__pic img {
  min-width: 100%;
}

.team__item__text {
  text-align: center;
  padding: 25px 20px 25px;

  h4 {
    color: #111111;
  }

  span {
    color: #f45d96;
    display: block;
    margin-bottom: 18px;
  }

  .team__item__social a {
    font-size: 20px;
    color: #888888;
    margin-right: 16px;

    &:hover {
      color: #f45d96;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* --- SERVICES PAGE --- */
/* --- Services Sidebar Tab --- */
.services__sidebar__tab {
  @media only screen and (max-width: 991px) {
    margin-bottom: 50px;
  }

  .nav {
    display: initial;
  }

  .nav-tabs {
    border-bottom: none;
  }

  .nav-item:last-child .nav-link .services__item {
    margin-bottom: 0;
  }

  .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;

    &.active .services__item {
      border-color: #f45d96;
      box-shadow: 5px 5px 10px 0 #f45d96;
    }

    .services__item {
      margin-bottom: 75px;
    }
  }
}

/* --- Services Tab Content --- */
.services__tab__content {
  padding-left: 0;

  @media only screen and (min-width: 992px) {
    padding-left: 60px;
  }
}

.services__tab__video {
  height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  a {
    color: #f45d96;
    border-radius: 50%;

    &:hover {
      color: #777777;
      border: 2px solid #f45d96;
    }
  }
}

.services__tab__details__title {
  margin-top: -87px;
  margin-bottom: 36px;

  h2 {
    font-size: 50px;
    color: #111111;
    display: inline-block;
    background: #ffffff;
    padding-top: 10px;
    padding-right: 25px;
    margin-bottom: 18px;
  }

  span {
    display: block;
    color: #f45d96;
    font-weight: 20;
    font-weight: 700;
    margin-bottom: 36px;
  }
}

.services__tab__details__desc {
  margin-bottom: 30px;
}

.services__tab__details__desc p {
  margin-bottom: 30px;
}

/* --- Services Form --- */
.services__tab__details__form {
  background: #f7f5fa;
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
  padding: 30px;

  @media only screen and (min-width: 480px) {
    padding: 50px;
  }

  @media only screen and (min-width: 992px) {
    margin-left: 60px;
  }

  h4 {
    color: #111111;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
  }

  form {

    input,
    select {
      height: 46px;
      font-size: 16px;
      margin-bottom: 30px;
    }

    select {
      color: #888888;
    }

    textarea {
      width: 100%;
      height: 100px;
      font-size: 16px;
      margin-bottom: 30px;
      resize: none;
    }
  }
}

/* --- CONTACT PAGE --- */
/* --- Contact Section --- */
.contact {
  padding-bottom: 65px;
}

.contact__widget {
  margin-bottom: 30px;

  h2 {
    font-size: 40px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 10px;
  }

  ul li {
    list-style: none;

    a {
      color: #444444;
      font-size: 15px;
      line-height: 40px;

      svg {
        color: #f45d96;
      }

      &:hover {
        color: #f45d96;
      }
    }
  }
}

.contact__form {
  margin-bottom: 30px;

  h2 {
    font-size: 40px;
    margin-bottom: 35px;
  }

  form {
    input {
      height: 46px;
      width: 100%;
      margin-bottom: 25px;
    }

    textarea {
      height: 100px;
      width: 100%;
      margin-bottom: 20px;
      padding-top: 12px;
      resize: none;
    }
  }
}

.contact__map {
  height: 310px;
  margin-bottom: 30px;

  iframe {
    width: 100%;
  }
}

/* --- PRODUCTS PAGE --- */
/* --- Products Section --- */
.product {
  padding-top: 20px;
  padding-bottom: 100px;
}

.product__widget {
  margin-bottom: 20px;

  .form-check-input {

    &:checked,
    &:indeterminate {
      background-color: #f45d96;
      border-color: #f45d96;
    }
  }
}

.product__widget__text {
  i {
    display: inline-block;
    height: 37px;
    width: 37px;
    background: #f2f2f2;
    font-size: 16px;
    color: #111111;
    line-height: 37px;
    text-align: center;
    margin-right: 20px;
  }

  p {
    margin-bottom: 0;
    color: #111111;
    display: inline-block;
  }
}

.product__widget__filter {
  @media only screen and (max-width: 767px) {
    margin-top: 20px;
  }

  select {
    float: none;
    width: 260px;

    @media only screen and (min-width: 768px) {
      float: right;
    }
  }
}

/* --- SHOPPING CART PAGE --- */
/* --- Shopping Cart Section --- */
.cart {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cart__table {
  overflow: auto;
  padding-right: 0;

  @media only screen and (min-width: 1200px) {
    padding-right: 40px;
  }

  @media only screen and (max-width: 991px) {
    margin-bottom: 40px;
  }

  table {
    width: 100%;
  }

  thead {
    border-bottom: 1px solid #e1e1e1;

    tr th {
      font-size: 22px;
      color: #111111;
      font-family: "Libre Baskerville", serif;
      font-weight: 700;
      // padding-bottom: 35px;
    }
  }

  tbody tr {
    border-bottom: 1px solid #e1e1e1;

    td {
      padding-top: 0;
      padding-bottom: 0;
    }

    td.cart__item {
      width: 320px;

      .cart__item__pic {
        width: 70px;
        float: none;
        margin-right: 0;

        @media only screen and (min-width: 768px) {
          float: left;
          margin-right: 20px;
        }
      }

      .cart__item__text {
        overflow: hidden;
        padding-top: 20px;

        h4 {
          font-size: 18px;
          color: #111111;
          margin-bottom: 10px;

          @media only screen and (max-width: 479px) {
            font-size: 16px;
          }
        }

        span {
          color: #111111;
          font-size: 18px;
          display: block;
          font-weight: 700;
        }
      }
    }
  }
}

.cart__quantity {
  width: 200px;

  .quantity .pro-qty {
    width: 100px;

    input {
      font-size: 20px;
      color: #111111;
      font-weight: 700;
      float: left;
      text-align: center;
      border: none;
      background: transparent;
      width: 40px;
      height: 48px;
    }

    .qtybtn {
      font-size: 16px;
      color: #f45d96;
      float: left;
      height: 100%;
      line-height: 46px;
      transition: all, 0.5s;

      &.disabled {
        color: #6c757d;
        cursor: not-allowed;
      }

      &:not(.disabled):hover {
        transform: scale(1.5);
      }
    }
  }
}

.cart__price {
  font-size: 18px;
  color: #111111;
  font-weight: 700;
  width: 200px;
}

.cart__close {
  font-size: 20px;
  color: #f45d96;
  transition: all, 0.5s;

  &:hover {
    transform: scale(1.5);
  }
}

.cart__coupon {
  background: #f7f5fa;
  padding: 30px;
  margin-bottom: 50px;

  p {
    margin-bottom: 12px;
  }

  form {
    position: relative;

    input {
      height: 46px;
      width: 100%;
      padding-left: 20px;
    }

    button {
      color: #f45d96;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      background: #111111;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      letter-spacing: 0px;
      padding: 0 15px;

      &:hover {
        color: #111111;
        background-color: #f45d96;
      }

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 0 20px;
      }

      @media only screen and (min-width: 1200px) {
        letter-spacing: 2px;
        padding: 0 30px;
      }
    }
  }
}

.cart__total {
  background: #f7f5fa;
  padding: 30px;

  @media only screen and (max-width: 479px) {
    padding: 20px;
  }

  h4 {
    color: #111111;
    margin-bottom: 36px;
  }

  ul {
    margin-bottom: 28px;

    li {
      list-style: none;
      font-size: 16px;
      color: #888888;
      line-height: 36px;
      overflow: hidden;

      span {
        font-weight: 700;
        color: #111111;
        float: right;
      }

      &:last-child span {
        color: #f45d96;
      }
    }
  }

  a {
    display: block;
    color: #f45d96;
    background: #111111;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 14px 20px 12px;
    text-align: center;

    &:hover {
      color: #111111;
      background-color: #f45d96;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      letter-spacing: 0px;
    }

    @media only screen and (max-width: 479px) {
      letter-spacing: 0;
      padding: 14px 15px 12px;
    }
  }
}